Flask-Cors==4.0.0
flatbuffers==23.5.26
queuelib==1.5.0
requests-oauthlib==1.3.1
requests-toolbelt @ file:///Users/ktietz/demo/mc3/conda-bld/requests-toolbelt_1629456163440/work
rever==0.3.3
scipy==1.10.1
selenium==4.15.2
smmap==5.0.0
sniffio==1.3.0
st-annotated-text==4.0.1
streamlit==1.27.1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-javascript==0.1.5
streamlit-keyup==0.2.0
streamlit-option-menu==0.3.6
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2

